@font-face {
    font-family: apple;
    src: url(fonts/AppleGaramond-Light.ttf);
}

* {
    box-sizing: border-box;
}

body {
   margin: 0px;
   font-family: apple;
}

#main-contents {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

#header {
    width: 100%;
    font-size: larger;
    font-family: apple;
    color: #125779;
    background-color: #b5e0e6;
    margin: 0px;
    padding: 5px 5px 0px 20px;
    display: inline-flex;
    height: auto;
}

#auth-section {
    font-size: large;
    margin-top: 50px;
    position: relative;
    right: 0px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
}

a {
    text-decoration: none;
    color: #125779;
}

li {
    display: inline;
    padding: 10px;
}

li a {
    text-decoration: none;
    color: #125779;
}

li a:hover{
    color: #39a9bb;
    text-decoration: none;
}

#nav {
    font-size: larger;
	width: 100%;
    background-color: #dce5d3;
    padding: 10px;
}

#nav li {
    padding-right: 20px;
    padding-left: 20px;
    border-right: 1px solid #a0c081;
}

#nav a:hover {
    color: #39a9bb;
}

.createAcc {
    color: #4692b9be;
    margin: 20px;
    padding: 5px;
    border-bottom: 2px solid lightblue;
    width: 20%;
}   

#create-form {
	display: flex;
	flex-direction: column;
	margin: 20px;
	max-width: 300px;
	align-content: center;
	padding: 15px;
    background-color: #d0ebef;
}

label {
	display: inline-block;
	margin: 10px;
	text-align: left;
}

.form-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


button[type=submit] {
    margin: 20px;
    background-color:#125779;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

#tasks {
    margin: 10px;
}

.taskList li {
    margin: 10px 0px;
    width: 20%;
    padding: 12px 8px;
    background: #eee;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    cursor: pointer;
}

.taskList li:hover {
    background: #ddd;
}

.taskList li.checked {
    background: lightblue;
    text-decoration: line-through;
}

.taskList .close {
    cursor: pointer;
    color: #888;
    font-size: 20px;
    padding-left: 10px;
    flex-shrink: 0;
    position: static;
}

.taskList .close:hover {
    color: red;
}

.taskText {
    flex-grow: 1;
    pointer-events: none;
}

.taskList li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 14px;
    right: 40px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}

.taskList .close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
}

.taskList .close:hover {
    color: white;
}

#tasks input {
    margin: 0px;
    width: 20%;
    border: none;
    border-radius: 0;
    padding: 20px;
    float: top;
    font-size: 16px;
}

.addBtn {
    padding: 10px;
    background: #d9d9d9;
    color: #555;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
}

.addBtn:hover {
    background-color: #bbb;
}
.hide {
    display: none !important;
}

.show {
    display: unset;
}