@font-face {
    font-family: apple;
    src: url(../fonts/AppleGaramond-Light.ttf);
}

* {
    box-sizing: border-box;
}

body {
   margin: 0px;
   font-family: apple;
}

#main-contents {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

#header {
    width: 100%;
    font-size: larger;
    font-family: apple;
    color: #125779;
    background-color: #b5e0e6;
    margin: 0px;
    padding: 5px 5px 0px 20px;
    display: inline-flex;
    height: auto;
}

#auth-section {
    font-size: large;
    margin-top: 50px;
    position: relative;
    right: 0px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
}

a {
    text-decoration: none;
    color: #125779;
}

li {
    display: inline;
    padding: 10px;
}

li a {
    text-decoration: none;
    color: #125779;
}

li a:hover{
    color: #39a9bb;
    text-decoration: none;
}

#nav {
    font-size: larger;
	width: 100%;
    background-color: #dce5d3;
    padding: 10px;
}

#nav li {
    padding-right: 20px;
    padding-left: 20px;
    border-right: 1px solid #a0c081;
}

#nav a:hover {
    color: #39a9bb;
}

.createAcc {
    color: #4692b9be;
    margin: 20px;
    padding: 5px;
    border-bottom: 2px solid lightblue;
    width: 20%;
}   

#create-form {
	display: flex;
	flex-direction: column;
	margin: 20px;
	max-width: 300px;
	align-content: center;
	padding: 15px;
    background-color: #d0ebef;
}

label {
	display: inline-block;
	margin: 10px;
	text-align: left;
}

.form-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


button[type=submit] {
    margin: 20px;
    background-color:#125779;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

.hide {
    display: none !important;
}

.show {
    display: unset;
}