<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FFXIV API App</title>
  <link rel="stylesheet" href="main.css">
</head>
<body>
</body>
	<div id="header">
		<h1> <a href="/">FFXIV Guide</a></h1>
		<div id="signin">
		<ul>
			<li><a href="/auth/login">Login</a></li>
			<li><a href="/auth/create">Create Account</a></li>
	  	</ul>
		</div>
	</div>
	<div id="nav">
		<li><a href = "/tasks">Tasks</a></li>
		<li><a href = "/quests">Quests</a></li>
		<li><a href = "/items">Items</a></li>
		<li><a href = "/locations">Map Locations</a></li>
		<li><a href = "/profile">View Profile</a></li>
	</div>
	<div id="main-contents">
		<div id="modal-overlay"></div>
	</div>
	<div id="footer"></div>
</html>
