<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FFXIV API App</title>
    <link rel="stylesheet" href="main.css">
	<script src="" type=""></script>
</head>
<body>
</body>
	<div id="header">
		<h1>FFXIV Guide</h1>
		<div id="signin">
		<ul>
			<li><a href="/login">Login</a></li>
			<li><a href="/create">Create Account</a></li>
		</ul>
		</div>
	</div>
	<div id="nav"></div>
	<div id="main-contents">
        <div id="create-form">
            <form action="/register" id="register-form">
                <div class="form-group">
                    <label for="emailInput">Email address</label>
                    <input type="email" class="form-control" id="emailInput" name="emailName" placeholder="user123@gmail.com..."/>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="pass" name="passName" minlength="8" maxlength="15"/>
                </div>
				<div class="form-group">
					<label for="usernameInput">User Name</label>
					<input type="text" class="form-control" id="usernameInput" name="userName" placeholder="User Name"/>
				</div>
                <button type="submit" class="submitBtn">Register Account</button>
            </form>
        </div>
    </div>
	<div id="footer">
    </div>
</html>
